// ---------------------
// Variables
// ---------------------

$debug: false;

// --- colors ---
$clr10: #ffffff;
$clr11: #666CA3;
$clr12: #13183F;
$clr13: #83869A;
$clr14: #F74780;
$clr15: #FFA7C3;
$clr16: #100E1D;
$clr17: #4f4f4f;
$clr18: #f2f2f2;
$clr19: #bdbdbd;
$clr20: #E0E0E0;


// --- break points ---


// --- font-sizes ---

$h1max: 3.5rem; //56px
$h1min: 2.5rem; //40px

$h2max: 2.25rem; //36px
$h2min: 1.75rem; //28px

$h3max: 1.5rem; //24px
$h3min: 1.25rem; //20px

$h4max: 2rem; //32px
$h4min: 1.5rem; //24px



$parmax: 1.125rem; //18px
$parmin: 1rem; //16px

$btnmax: 1.125rem; //18px
$btnmin: 1rem; //16px

$submit: 1.125rem; //18px